@mixin banner-image-properties {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
  box-shadow: 0px 4px 4px 0px #00000040;
  filter: brightness(40%);
}

@mixin spacing($property, $values...) {
  @each $value in $values {
    #{$property}: #{$value};
  }
}

@mixin font($size, $color: null, $weight: null) {
  font-size: $size;
  @if $color {
    color: $color;
  }
  @if $weight {
    font-weight: $weight;
  }
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == small {
    @media (max-width: 768px) {
      @content;
    }
  }
}
