@import "../utils/mixins";
@import "../utils/variables";

.card {
  position: relative;
  aspect-ratio: 1/1;
  width: 100%;
  cursor: pointer;

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }

  &__title {
    @include font(18px, $white, 700);
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    @include spacing(margin, 10px);
  }
}
