@import "../utils/mixins";
@import "../utils/variables";

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  background-color: $light-gray;
  border-radius: 25px;
  @include spacing(padding, 40px);

  @include respond-to(small) {
    grid-template-columns: 1fr;
    background-color: $white;
    @include spacing(padding, 0px);
  }
}
