@import "../utils/variables";

.collapse {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $light-red;
  flex-grow: 1;
  height: 54px;
  padding: 0 20px 0 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
  @media (max-width: 768px) {
    height: 30px;
  }
  &__title {
    color: white;
    font-weight: 700;
    font-size: 24px;
    @media (max-width: 768px) {
      font-size: 13px;
    }
  }
  &__arrow {
    transition: transform 0.3s ease;
  }
  &__text {
    font-size: 18px;
    padding: 0 20px;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.5s ease;
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
}

.rotate {
  transform: rotate(180deg);
}

.show .collapse__text {
  opacity: 1;
  transform: translateY(0);
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.collapse__description {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease, background-color 0.5s ease;
  background-color: $light-gray;
}

.show {
  max-height: 100%;
  transition: max-height 0.5s ease, background-color 0.5s ease;
}
