@import "../utils/variables";

.about-container {
  display: grid;
  gap: 30px;
  padding: 0 100px 0 100px;
  @media (max-width: 768px) {
    gap: 20px;
    padding: 0;
  }
}

.collapse {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $light-red;
  flex-grow: 1;
  height: 54px;
  padding: 0 20px 0 15px;
  border-radius: 5px;
  @media (max-width: 768px) {
    height: 30px;
  }
  &__title {
    color: white;
    font-weight: 700;
    font-size: 24px;
    @media (max-width: 768px) {
      font-size: 13px;
    }
  }
}

button {
  border: none;
  background: none;
}

.collapse__description {
  border-radius: 5px;
  padding: 5px;
  background-color: $light-gray;
}
