@import "../utils/variables";

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $black;
  height: 209px;
  padding: 0;
  margin-top: 50px;
  @media (max-width: 768px) {
    margin-top: 0px;
  }
  &__title {
    font-size: 24px;
    color: $white;
    @media (max-width: 768px) {
      font-size: 12px;
      width: 110px;
      text-align: center;
    }
  }
}
