@import "../utils/variables";

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 45px 0px 50px 0px;

  @media (max-width: 768px) {
    padding: 0px 0px 27px 0px;
  }

  img {
    object-fit: contain;
    @media (max-width: 768px) {
      content: url("../../assets/img/header-logo-mobile.webp");
    }
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 57px;

    li {
      font-weight: 500;
      display: block;
      a {
        text-decoration: none;
        color: $black;
        font-size: 24px;
        @media (max-width: 768px) {
          font-size: 12px;
        }
        &.active {
          text-decoration: underline;
          color: $black;
        }
      }
    }
  }
}
